<!-- slider_area_start -->
<div class="slider_area">
  <div class="slider_active owl-carousel">
    <!-- single_carouse -->
    <div class="single_slider d-flex align-items-center slider_bg_1">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="slider_text">
              <h3>
                Boost up your skills <br />
                with a new way of <br />
                learning.
              </h3>
              <a href="#" class="boxed-btn3">Get Start</a>
              <a href="#" class="boxed-btn4">Take a tour</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ single_carouse -->
    <!-- single_carouse -->
    <div class="single_slider d-flex align-items-center slider_bg_2">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="slider_text">
              <h3>
                Boost up your skills <br />
                with a new way of <br />
                learning.
              </h3>
              <a href="#" class="boxed-btn3">Get Start</a>
              <a href="#" class="boxed-btn4">Take a tour</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ single_carouse -->
    <!-- single_carouse -->
    <div class="single_slider d-flex align-items-center slider_bg_1">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="slider_text">
              <h3>
                Boost up your skills <br />
                with a new way of <br />
                learning.
              </h3>
              <a href="#" class="boxed-btn3">Get Start</a>
              <a href="#" class="boxed-btn4">Take a tour</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ single_carouse -->
  </div>
</div>
<!-- slider_area_end -->

<!-- service_area_start  -->
<div class="service_area gray_bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="single_service d-flex align-items-center">
          <div class="icon">
            <i class="flaticon-school"></i>
          </div>
          <a href="Admissions.html">
            <div class="service_info">
              <h4>Admission</h4>
              <p>Information</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_service d-flex align-items-center">
          <div class="icon">
            <i class="flaticon-school"></i>
          </div>
          <a href="Admissions.html">
            <div class="service_info">
              <h4>Department</h4>
              <p>About the Department</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_service d-flex align-items-center">
          <div class="icon">
            <i class="flaticon-book"></i>
          </div>
          <a href="Admissions.html">
            <div class="service_info">
              <h4>HOD Message</h4>
              <p>Message from the HOD</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ service_area_start  -->

<!-- popular_program_area_start  -->
<div class="popular_program_area">
  <app-list></app-list>
</div>
<!-- popular_program_area_end -->
<app-events></app-events>
<!-- recent_event_area_end  -->

<!-- recent_news_area_start  -->
<app-alumini-list></app-alumini-list>
<!-- recent_news_area_end  -->
